@charset "UTF-8";

* {font-family: Arial, Helvetica, sans-serif;}

body {background-image: linear-gradient(to right, #2D3E40, #387373, #93BFB7);}

main {background-color: #349b9b; 
width: 800px; 
padding: 10px; 
margin: auto; 
border-radius: 10px;}

h1 {font-size: 25px; 
color: #000000; 
text-align: center;}

h2 {font-size: 20px; 
color: #878787; 
text-decoration: underline; 
text-align: center;}

p {text-align: justify; 
color: #E4F2E7;}