@charset "UTF-8";

body {font-family: Arial, Helvetica, sans-serif; font-size: 17px; background-color: rgb(0, 169, 247);}
h1 {font-size: 1.6em; text-align: center;}
h2 {font-size: 1.3em; text-align: center;}
p {color: rgb(255, 255, 255); text-align: justify; text-align: center;}