@charset "UTF-8";

body {
background-image: linear-gradient(to right, #3B3C40, #F2E2C4, #A67A46);}

p {
font-family: Arial, Helvetica, sans-serif; 
color: #3B3C40;
font-style: italic;
text-align: justify;
text-align: center;
width: 700px;
margin: auto;}

h1#principal {
color: #e7e7e7; 
font-size: 2.0em;
text-align: center;
text-shadow: 1px 1px 1px #3B3C40;
background-color: #A67A46;
width: 500px;
margin: auto;
box-shadow: 2px 2px 6px #3B3C40;
border-radius: 10px;}

h1 {
color: #A67A46; 
text-shadow: 1px 1px 1px white;
font-size: 1.7em; 
text-align: center;}

h2 {
color: #A67A46; 
text-shadow: 1px 1px 1px white; 
text-align: center;
text-decoration: underline}

h2.basico {
color: #006341; 
text-shadow: 1px 1px 1px rgb(255, 255, 255); 
text-align: center;
text-decoration: underline}

h2.medio {
color: #92a500; 
text-shadow: 1px 1px 1px white; 
text-align: center;
text-decoration: underline}

h2.high {
color: #631300; 
text-shadow: 1px 1px 1px white; 
text-align: center;
text-decoration: underline}