@charset "UTF-8";

body {
font-family: Arial, Helvetica, sans-serif; 
background-image: linear-gradient(to right, #734656, #2D3340, #F2D8C2);
}

h1 {
font-size: 25px; 
color: #734656;
text-shadow: 1px 1px 0px #2d334086;
}

h2 {
font-size: 20px; 
text-decoration: underline;
color: #515b72;
}

p {
text-align: justify;
color: #401A04;
}

main {
text-align: center; 
background-color: #F2D8C2;
width: 800px;
padding: 10px;
border-radius: 10px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.507);
}

div {
margin: auto;
text-align: center;
background-color: #F2D8C2;
width: 800px;
padding: 10px;
border-radius: 10px;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}