@charset "UTF-8";

* {
margin: 0px;
padding: 0px;}

header {
background-color: #4CAF4F;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;}

a {
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 1.0em;
padding: 10px 20px 0px 0px;
text-decoration: none;}

a#one {
background-color: white;
color: #4CAF4F;
padding: 10px;
border-radius: 5px;}

a:hover {
text-decoration: underline;}

main {
background-color: rgb(212, 212, 212);
margin: auto;
max-width: 800px;
min-width: 320px;
width: 100%;}

section#princi {
padding-top: 20px;
padding-bottom: 20px;
overflow: auto;
margin: 0 auto;}

div#texto {
width: 55%;
float: left;}

div#imagem {
width: 40%;
float: right;
text-align: right;
padding-top: 10px;
padding-bottom: 10px;}

h1 {
width: 200px;
font-family: "Domine", serif;
font-size: 2.5em;
font-weight: 500;
padding-left: 50px;
margin-bottom: 5px;
text-shadow: 1px 1px 1px white;}

span {
white-space: nowrap;
color: #4CAF4F;
text-shadow: 1px 1px 1px white;}

p#principal {
padding-left: 50px;
width: 300px;
margin-bottom: 25px;
text-align: justify;
font-family: Arial, Helvetica, sans-serif;}

a#two {
background-color: #4CAF4F;
color: white;
border-radius: 5px;
margin-left: 50px;
padding: 10px 20px 10px 20px;
box-shadow: 2px 2px 4px white;}

img#two {
width: 700px;
height: 300px;
display: block;
margin-top: 25px;
margin-right: auto;
margin-bottom: 30px;
margin-left: auto;
border-radius: 10px;}

h2 {
color: #4CAF4F;
font-family: "Domine", serif;
font-size: 2.0em;
font-weight: 500;
text-align: center;
margin-bottom: 10px;
text-shadow: 1px 1px 1px white;}

p#sec {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
margin-bottom: 10px;}

h2#sec {
color: #4CAF4F;
font-family: "Domine", serif;
font-size: 2.0em;
font-weight: 500;
width: 400px;
text-align: center;
margin-right: auto;
margin-left: auto;
text-shadow: 1px 1px 1px white;}

p#terc {
width: 600px;
margin-right: auto;
margin-left: auto;
text-align: justify;
margin-bottom: 30px;
font-family: Arial, Helvetica, sans-serif;}

a#three {
background-color: #4CAF4F;
color: white;
border-radius: 5px;
padding: 10px 20px 10px 20px;
box-shadow: 2px 2px 4px white;}

section#sec {
text-align: center;
margin-top: 10px;
padding-bottom: 30px;}

footer {
background-color: #4CAF4F;
text-align: center;
width: 800px;
margin: auto;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;}

p#ultimo {
font-family: Arial, Helvetica, sans-serif;
color: white;
padding: 15px 0px 15px 0px;}

img#one {
width: 350px;
height: 350px;
float: right;
padding-right: 50px;}



